<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Tempat Mencari Restaurant di Berbagai Negara">
    <title>Makan In - Tempat Mencari Restaurant di Berbagai Negara</title>
	<script src="https://use.fontawesome.com/b070c8f1df.js"></script>
	<link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header>
        <a href="#" id="menu" class="menu">☰</a>
        <div class="brand">
            <a href="#">🅼 Makan In</a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/paulus-lestyo/" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main id="mainContent">
        <div class="restaurant detail" style="background-image: url('https://restaurant-api.dicoding.dev/images/large/12');">
			<div class="wrapper-detail">
				<div class="restaurant-img">
					<img id="img-restaurant" src="https://restaurant-api.dicoding.dev/images/small/12" alt="">
				</div>
				<div class="desc">
					<h1 id="title">Makan mudah</h1>
					<h2 id="city">Kota: Medan</h2>
					<h2 id="address">Alamat: Jln. Pandeglang no 19</h2>
					<h2 id="rating">Rating : 7/10</h2>
					<h3 id="overview">Description: <br>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, ...
					</h5> 
				</div>

				<div class="categories">
					<ul>
						<li>Italia</li>
						<li>Modern</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="more-details">
			<div class="foods">
				<h1>Food</h1>
				<ul>
					<li>Paket rosemary</li>
					<li>Toastie salmon</li>
				</ul>
			</div>
			<div class="drinks">
				<h1>Drinks</h1>
				<ul>
					<li>Es krim</li>
					<li>Sirup</li>
				</ul>
			</div>
			<div class="customer-review">
				<h1>Customers Review</h1>
				<div class="review">
					<div class="avatar">
						<i class="fa fa-user-circle" aria-hidden="true"></i>
						<span class="name-reviewer">Ahmad</span>
					</div>
					<div class="comment">
						Tidak rekomendasi untuk pelajar! <br>
						<span class="date">13 November 2019</span>
					</div>
				</div>
			</div>
        </div>
    </main>

    <footer>
        <p>Copyright &copy; 2021 - Makan In</p>
    </footer>
</body>
</html>
