<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makan In - Tempat Mencari Restaurant di Berbagai Negara</title>
</head>
<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header>
        <a href="#" id="menu" class="menu">☰</a>
        <div class="brand">
            <a href="#">🅼 Makan In</a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/paulus-lestyo/" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="jumbotron">
        <h1>Tempat Mencari Restaurant di Berbagai Negara</h1>
        <h2>Pilihlah Restaurant Terbaik Untukmu</h2>
    </div>

    <main id="mainContent">
        <h1>Explore Restaurant</h1> 
        <div class="container">
        </div>
    </main>

    <footer>
        <p>Copyright &copy; 2021 - Makan In</p>
    </footer>
</body>
</html>
