@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
	--card-padding: 24px;
	--avatar-padding: 0;
	--card-height: 589px;
	--card-skeleton: linear-gradient(white var(--card-height), transparent 0);
	--avatar-size: 220px;
	--avatar-position: var(--avatar-padding) var(--avatar-padding);
	--avatar-skeleton: radial-gradient(lightgrey 99%, transparent 0);
	--title-height: 32px;
	--title-width: 330px;
	--title-position: var(--card-padding) 250px;
	--title-skeleton: linear-gradient(lightgrey var(--title-height), transparent 0);
	--desc-line-height: 250px;
	--desc-line-skeleton: linear-gradient(lightgrey var(--desc-line-height), transparent 0);
	--desc-line-1-width: 330px;
	--desc-line-1-position: var(--card-padding) 300px;
	--blur-width: 200px;
	--blur-size: var(--blur-width) calc(var(--card-height));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

body a, button, body input[type="submit"] {
    min-height: 44px;
    min-width: 44px;
}

.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: white;
    color: black;
    padding: 8px;
    z-index: 100;
 }

 .skip-link:focus {
    top: 0;
 }

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e6ac03;
    border-radius: 0 0 20px 20px;
    box-shadow: 3px 3px 3px #cf9c03;
    overflow: hidden;
}

header .menu, header .brand {
    background-color: #e6ac03;
}

header .menu {
    display: none;
	border: none;
	cursor: pointer;
}

header .brand a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

header .brand {
    padding: 15px 15px 0;
}


img {
    display: block;
}

nav ul {
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav ul li a {
    width: 100%;
    min-width: 44px;
    min-height: 44px;
    padding: 15px;
    color: black;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #cf9c03;
}
   

.jumbotron {
	background: url("../images/banner-large.jpg") no-repeat -9999px -9999px;
    padding: 18em 30px;
	background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 3px grey;
}

.jumbotron-favorite {
	padding: 5em 30px !important;
	margin-bottom: 30px;
}

.jumbotron h1, .jumbotron h2 {
    text-shadow: 3px 3px 3px black;
}

.jumbotron h1 { 
    text-align: center;
    color: #DDD;
    font-weight: 600;
    text-transform: uppercase;
}

.jumbotron h2 { 
    text-align: center;
    color: #DDD;
    font-weight: 400;
    text-transform: uppercase;
}

main {
    padding: 30px 0;
	min-height: 900px;
}

main .title-main {
	margin: 30px 0;
}

.detail h1 {
	text-align: left;
	padding: 0;
}

.restaurant {
	padding: 6em 4em 6em 4em;
	background-image: url("../images/headings.png");
    background-size: cover;
    object-position: center;
}

.wrapper-detail {
	padding: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
	border-radius: 10px;
	background-color: rgba(230,172,3,.9);
	box-shadow: 3px 3px 3px rgb(197, 148, 2);
}

.restaurant h1, .restaurant h2, .restaurant h3 {
	text-shadow: 2px 2px 2px white;
}

.restaurant h1 {
    font-size: 2em; 
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.restaurant h2 { 
	font-size: 1.3em;
    color: black;
    font-weight: 300;
}

.restaurant h3 { 
    color: black;
    font-weight: 300;
}

.restaurant #overview {
	padding-top: 15px;
	font-size: 1.2em;
}

.restaurant-img img{
	width: 100%;
	max-height: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
}

.categories {
	margin: 10px 0;
	text-align: center;
}

.categories ul li {
	margin: 0 5px;
	padding: 0 15px;
	border-radius: 10px;
	background-color: rgb(128, 128, 128, 0.3);
	color: black;
	text-decoration: none;
	display: inline-block;
	/* box-shadow: 2px 2px 2px rgb(104, 104, 104); */
}


.more-details h1::after {
    display: inline-block;
    content: "";
    height: 4px;
    background: #b5b1ab;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -2px;
    margin-left: 10px;
}
.more-details {
	padding: 30px;
}

.more-details h1 {
	overflow: hidden;
	position: relative;
	text-align: left;
}

.more-details ul {
	padding: 10px 30px 50px 10px;
}

.more-details ul li {
	margin: 10px 5px;
	padding: 0 15px;
	border-radius: 10px;
	background-color: rgba(230,172,3,.9);
	color: black;
	text-decoration: none;
	display: inline-block;
	background-color: rgba(230,172,3,.9);
	box-shadow: 2px 2px 2px rgb(184, 148, 42);
}

.more-details .customer-review .review{
	padding: 10px;
	text-align: center;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 15fr;
}

.more-details .customer-review svg {
	display: block;
	margin: 0 auto;
	color: #4c6ef5;
	font-size: 2em;
}

.more-details .comment {
	padding: 10px;
	text-align: left;
	background-color: rgba(230,172,3,.9);
	box-shadow: 2px 2px 2px rgb(184, 148, 42);
	border-radius: 0 10px 10px 10px;
}

.more-details .date {
	font-size: .7em;
}



main h1 {
    text-align: center;
}

main .container {
    width: 90%;
    gap: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main .container .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 8px grey;
}

main .image .badge {
    position: absolute;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0 10px 10px 0;
    border: 2px solid rgb(99, 99, 99);
    border-left: none;
    background-color: grey;
}

main .image {
    max-height: 220px;
	overflow: hidden;
}

main .image img {
	min-height: 240px;
	object-fit: cover;
	width: 100%;
	height: 100%;
}


main .card .detail {
    padding: 15px;
}

main .card .rating, main .card .title {
    font-weight: bold;
}

main .card .title {
    font-size: 1.2em;
}

main .card .title a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

main .card .desc {
	display: -webkit-box;
	overflow: hidden;
    font-size: 0.8em;
    text-align: justify;
	text-overflow: ellipsis;
    -webkit-line-clamp: 20;
   -webkit-box-orient: vertical;
}

.like {
	z-index: 99;
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: rgba(255, 191, 0);
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-data {
	text-align: center;
	grid-column-end: 4;
	grid-column-start: 1;
}

.empty-data img {
	margin: 0 auto;
}

.customer-review h2 {
	margin: 10px;
}

form {
	display: grid;
	grid-template-columns: 2fr 5fr 1fr;
	gap: 10px;
}

form input , form textarea{
	font-family: 'Poppins', sans-serif;
	padding: 10px;
	height: 44px;
	border-radius: 4px;
	border-radius: 10px;
}

form input[type=text], form textarea {
	border: 1px solid #ccc;
}

form textarea {
	resize: none;
}

form input[type=submit] {
	border: none;
	background-color: rgba(230,172,3,.9);
	cursor: pointer;
}

form input[type=submit]:hover {
	background-color: rgb(184 148 42);
}

.loader {
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 0 auto;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
  }

  .loader-detail, .no-internet-detail {
	margin: 10em auto;
  }

  .skeleton {
	width: 100%;
	height: var(--card-height);
}

.skeleton:empty::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 0 10px 45px rgba(0, 0, 0, .1);
	background-image: linear-gradient(90deg,
					 rgba(255, 0, 0, 0) 0, 
					 rgb(255, 255, 255) 50%, 
					 rgba(211, 211, 211, 0) 100%), 
					 var(--title-skeleton), 
					 var(--desc-line-skeleton), 
					 var(--avatar-skeleton), 
					 var(--card-skeleton);
	background-size: var(--blur-size), 
					 var(--title-width) var(--title-height), 
					 var(--desc-line-1-width) var(--desc-line-height), 
					 100% var(--avatar-size), 
					 100% 100%;
	background-position: -150% 0, 
						 var(--title-position), 
						 var(--desc-line-1-position), 
						0 0;
	background-repeat: no-repeat;
	animation: loading 1.5s infinite;
}

@keyframes loading {
	to {
		background-position: 350% 0, 
							 var(--title-position), 
							 var(--desc-line-1-position), 
							 var(--avatar-position), 
							 0 0;
	}
}


footer {
    margin-top: 20px;
	padding: 25px 0;
	text-align: center;
	color: black;
	background-color: #e6ac03;
}

@media only screen and (max-width: 1100px) {
    main .container {
        grid-template-columns: 1fr 1fr;
    }

    main .card .title {
        font-size: 1.7em;
    }

    main .card .desc {
        font-size: 1em;
    }


	.detail h1, .wrapper-detail .categories {
		padding-top: 10px;
	}

    .wrapper-detail img {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 950px) {
    header {
        grid-template-columns: 2fr 2fr;
    }
	
	.wrapper-detail, .detail h1 {
        grid-template-columns: 1fr;
        text-align: center;
    }

	.loader {
		grid-column-start: 1;
		grid-column-end: 2;
	  }
}

@media only screen and (max-width: 768px) {
    header {
        grid-template-columns: 1fr 12fr;
    }

    header .menu {
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        margin: 0 auto;
        color: black;
        line-height: 58px;
        text-decoration: none;
        display: inline-block;
    }

    nav {
        z-index: -1;
        margin-top: -250px;
        display: inline-block;
        background-color: #ffbf00;
        grid-column-end: 3;
        grid-column-start: 1;
        transition: all 0.5s ease;
    }

    nav ul {
        display: inline-block;
        width: 100%;
    }

    .nav-mobile {
        margin-top: 0;
    }

    .jumbotron {
        padding: 6em 30px;
    }


    .jumbotron h1 { 
        font-size: 1.5em;
    }
    
    .jumbotron h2 { 
        font-size: 1em;
    }

    main .container {
        grid-template-columns: 1fr;
    }

	.restaurant {
		padding: 5em 1em 5em 1em;
	}

	.more-details {
		padding: 20px;
	}

	form {
		grid-template-columns: 1fr;
	}

}


@media only screen and (max-width: 700px) {
	:root {
		--title-width: 280px;
		--desc-line-1-width: 280px;
	} 

	.jumbotron {
		background-image: url("../images/banner-small.jpg");
	}
    .jumbotron h1 { 
        font-size: 1.2em;
    }
    
    .jumbotron h2 { 
        font-size: 0.9em;
    }

	.restaurant {
		padding: 3em 0 3em 0;
	}
	
	.more-details ul li {
		text-align: center;
		margin: 10px;
		padding: 0 10px;
		display: block;
	}

}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 1.3em;
    }
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }